#root {
	--color-text: #333;
	--color-border: #ddd;
	--color-crust: #ccc;
	--color-mantle: #eee;
	--color-surface: #fefefe;
	--color-overlay: #fff;
	--color-primary: #aa2d1c;
	--color-hover: #801c0f;
	--gap: 8px;
	--border: 1px solid var(--color-border);
	--border-radius: 5px;
	--padding: 10px;
	--button-padding: 6px 12px;
	--text-small: 10px;
	--text-medium: 12px;
	--text-large: 22px;
	--text-extra-large: 28px;
}
