#root {
	--color-text: #333;
	--color-border: #f2eeeb;
	--color-crust: #d4c7be;
	--color-mantle: #fff6f0;
	--color-surface: #f8efea;
	--color-overlay: #fff;
	--color-primary: #ff7961;
	--color-hover: #f54a2c;
	--gap: 6px;
	--border: 1px solid var(--color-border);
	--border-radius: 5px;
	--padding: 8px;
	--button-padding: 6px 12px;
	--text-small: 10px;
	--text-medium: 12px;
	--text-large: 22px;
	--text-extra-large: 28px;

	@media screen and (min-width: 920px) {
		--gap: 8px;
		--padding: 10px;
	}
}
