.color-input {
	margin: var(--gap);
	text-align: center;

	@media screen and (min-width: 920px) {
		margin-top: 16px;
	}

	.image-picker,
	.form-part {
		text-align: left;
		display: flex;
		flex-flow: column;
		gap: 4px;
	}

	form {
		display: flex;
		flex-flow: column;
		gap: 4px;

		@media screen and (min-width: 920px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto 43px;
			grid-gap: 4px 16px;
			grid-template-areas:
				'title title'
				'image form'
				'image submit';

			h2 {
				grid-area: title;
			}

			.image-picker {
				grid-area: image;
			}

			.form-part {
				grid-area: form;
			}

			button {
				grid-area: submit;
			}
		}
	}

	input {
		border-radius: 4px;
		border: var(--border);
		height: 24px;
		padding: 0 var(--gap);
	}

	label:not(first-of-type) {
		margin-top: 4px;
	}

	button {
		margin-top: var(--gap);
		padding: var(--button-padding);
		border-radius: 4px;
		border: none;
		background: var(--color-primary);
		color: var(--color-overlay);
		transition: background 0.2s;

		@media screen and (min-width: 920px) {
			padding: 10px 20px;
		}

		&:focus-visible,
		&.active {
			background: var(--color-hover);
		}

		&:hover {
			@media screen and (min-width: 720px) {
				background: var(--color-hover);
			}
		}

		&:disabled {
			pointer-events: none;
			opacity: 0.7;
		}
	}
}

.color-add {
	font-size: 18px;

	@media screen and (max-width: 719px) {
		width: 100%;
	}
}
