@import url('./styles/variables.scss');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

body {
	background: var(--color-surface);
	width: 100svw;
	display: flex;

	&.prevent-scroll {
		height: 100svh;
		position: fixed;
		overflow-y: clip;
	}
}

#root {
	--color-height: 76px;
	--swatch-width: 160px;
	font-family: 'Lato', helvetica, arial, sans-serif;
	color: var(--color-text);
	width: 100%;
	overflow-x: clip;
}

.app {
	width: 100%;
	max-width: calc(var(--swatch-width) * 2 + var(--padding) * 5);
	padding: 20px 0;
	margin: 0 auto;

	@media screen and (min-width: 920px) {
		max-width: calc(var(--swatch-width) * 4 + var(--padding) * 8 + var(--gap));
	}

	& > {
		h1,
		h2 {
			margin: var(--gap);
		}
	}
}

.cyan,
.magenta,
.yellow,
.black,
.white {
	display: inline-block;
	position: relative;
	padding-left: 12px;

	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		width: var(--gap);
		height: var(--gap);
		border-radius: 6px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		border: 1px solid #999;
	}
}

.cyan::after {
	background-color: cyan;
}

.magenta::after {
	background-color: magenta;
}

.yellow::after {
	background-color: yellow;
}

.black::after {
	background-color: black;
	color: white;
}

.white::after {
	background-color: white;
}

.description {
	margin: var(--gap);
	font-size: 13px;
}

#root {
	h1 {
		font-size: var(--text-extra-large);
	}
	h2 {
		font-size: var(--text-large);
	}
}

fieldset {
	border: none;
}
